<div class="container">
  <tui-loader [showLoader]="isLoading$" [overlay]="true">
    <tui-island
      size="l"
      textAlign="center"
    >
      <div class="tui-island__content">
        <div>
          <h3 class="tui-island__title">Поиск свободных пар</h3>
          <p class="tui-island__paragraph">
            Расписания
          </p>
          <tui-input-files
            link="Выберите файл"
            label="или используйте drag'n'drop"
            [formControl]="scheduleFormControl"
            [multiple]="true"
            (ngModelChange)="scheduleFormControl.markAsTouched()"
            (reject)="onScheduleReject($event)"
            class="tui-space_top-3"
            accept="application/vnd.openxmlformats-officedocument.spreadsheetml.sheet"
            [maxFileSize]="3 * 1024 * 1024 * 1024"></tui-input-files>

          <tui-files class="tui-space_top-1">
            <tui-file
              *ngFor="let file of scheduleFormControl.valueChanges | async"
              [file]="file"
              [showDelete]="scheduleFormControl.enabled"
              (removed)="removeScheduleFile(file)"
            ></tui-file>

            <tui-file
              *ngFor="let file of rejectedScheduleFiles"
              state="error"
              [file]="file"
              [showDelete]="scheduleFormControl.enabled"
              (removed)="clearScheduleRejected(file)"
            ></tui-file>
          </tui-files>

          <tui-error
            [error]="['maxLength'] | tuiFieldError | async"
            [formControl]="scheduleFormControl"
          ></tui-error>

          <p class="tui-island__paragraph tui-space_top-6">
            Студенты и их группы
          </p>

          <tui-input-files
            link="Выберите файл"
            label="или используйте drag'n'drop"
            [formControl]="studentsFormControl"
            [multiple]="true"
            (ngModelChange)="studentsFormControl.markAsTouched()"
            (reject)="onStudentsReject($event)"
            class="tui-space_top-3"
            accept="application/vnd.openxmlformats-officedocument.spreadsheetml.sheet"
            [maxFileSize]="3 * 1024 * 1024 * 1024"></tui-input-files>

          <tui-files class="tui-space_top-1">
            <tui-file
              *ngFor="let file of studentsFormControl.valueChanges | async"
              [file]="file"
              [showDelete]="studentsFormControl.enabled"
              (removed)="removeStudentsFile(file)"
            ></tui-file>

            <tui-file
              *ngFor="let file of rejectedStudentsFiles"
              state="error"
              [file]="file"
              [showDelete]="studentsFormControl.enabled"
              (removed)="clearStudentsRejected(file)"
            ></tui-file>
          </tui-files>

          <tui-error
            [error]="['maxLength'] | tuiFieldError | async"
            [formControl]="studentsFormControl"
          ></tui-error>


          <button
            appearance="flat"
            size="m"
            tuiButton
            type="button"
            class="tui-island__footer-button"
            (click)="sendFiles()"
          >
            Загрузить
          </button>
        </div>
      </div>
    </tui-island>
    <div
      *ngIf="fileSent$ | async"
      class="center">
      <button
        (click)="downloadResult()"
        tuiButton
        class="tui-space_top-10">Скачать результат</button>
    </div>
  </tui-loader>
</div>
